**/.moon/cache
.moon/cache

**/__pycache__
**/.mypy_cache
**/app.egg-info
**/*.pyc
**/.coverage
**/htmlcov
**/.venv

**/node_modules
**/dist
**/ios
**/android
**/remote-debug-profile
**/openapi.json

**/.git
**/.env